{
  "env": {
    "browser": true,
    "jquery": true
  },
  "extends": "eslint:recommended",
  "globals": {
    "grecaptcha": false,
    "remoteData": false,
    "USR": true
  },
  "parser": "babel-eslint",
  "root": true
}
